@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
}

ion-icon {
  font-size: 20px;
}

.bitcoin {
  color: #00df9a;
}

/* .youtube {
  color: #FF0000;
}

.twitter {
  color: #1DA1F2;
} */